<ul class="navbar-nav ml-auto">
  <app-navbarinicio></app-navbarinicio>
</ul>
<div class="text-center">
       <div class="contacto">
        <p><b>DOMICILIOS:333456621</b></p>
      </div>

      <div class="container">  
        <h1>Nuestros platillos</h1> 
        <div class="card-group mt-3">
    
          <div class="card text-center border-info">
            <div class="card-body">
              <h4 class="card-title">Alitas BBQ</h4>
              <img class="card-image" src="https://www.misterpollo.co/images/pollo/alitas-bbq.jpg" heigth="200px" width="300px">
              <p class="card-text">Deliciosos alitas acompañadas de salsa BBQ, perfectas para disfrutar en tus días especiales </p>
            </div>
          </div>          
    
          <div class="card text-center border-info">
            <div class="card-body">
              <h4 class="card-title">Pollo a la Broaster Entero</h4>
              <img class="card-image" src="https://www.misterpollo.co/images/pollo/pollo-broaster-entero.jpg" heigth="200px" width="300px">
              <p class="card-text">Delicioso pollo a la Broaster, perfecto para disfrutar en familia y compartir momentos únicos </p>
            </div>
          </div>          
      
          <div class="card text-center border-info">
            <div class="card-body">
              <h4 class="card-title">Waffles Tentación</h4>
              <img class="card-image" src="https://www.misterpollo.co/images/novedades/waffle-tentacion.jpg" heigth="200px" width="300px">
             
              <p class="card-text">Delicioso waflle con helado, perfecto para esos días calurosos en donde quieres
                saborear postres únicos </p>
            </div>
          </div>          
    
        </div>
      </div>  
      <hr>
      <h1>Ingresa a nuestra plataforma</h1>
    <div class="col-lg-6 mx-auto">
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" (click)="login()"class="btn btn-primary btn-lg px-4 gap-3">Ingresar</button>
      </div>
    </div>
  </div>